# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# macOS system files
.DS_Store

# Optional npm cache
.npm

# Optional coverage directory
coverage/

# PostgreSQL data (if any local dump files)
*.sql
*.dump